<div class="container mt-5 mb-5">
  <header class="text-center">
    <h1>Welcome to PlantersHub!</h1>
    <p class="lead">Find the perfect plant for your space.</p>
  </header>

  <div class="row mt-4">
    <% @plants.each do |plant| %>
      <div class="col-md-4 mb-3">
        <div class="card h-100">
          <% if plant.images.attached? %>
            <%= image_tag plant.images.first, class: 'card-img-top img-fluid' %>
          <% end %>
          <div class="card-body">
            <h5 class="card-title"><%= plant.name %></h5>
            <p class="card-text fs-5"> <%= number_to_currency(plant.price) %></p>
 <!-- Ensure you have a show action set up for plants -->
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>