<!-- app/views/layouts/_footer.html.erb -->

<footer class="bg-dark text-white pt-4 pb-4">
  <div class="container">
    <div class="row text-center text-md-left">
      <div class="col-md-3 mb-3">
        <%= link_to root_path do %>
          <%= image_tag 'logo.png', alt: "PlantersHub logo", height: "80" %>
        <% end %>
      </div>
      <div class="col-md-2 mb-3">
        <h5 class="text-uppercase">About Us</h5>
        <ul class="list-unstyled">
          <li><%= link_to 'Our Story', page_path('about-us'), class: 'text-white text-decoration-none'  %></li>
          <li><a href="#" class="text-white text-decoration-none">Careers</a></li>
        </ul>
      </div>
      <div class="col-md-2 mb-3">
        <h5 class="text-uppercase">Support</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">FAQ</a></li>
          <li><a href="#" class="text-white text-decoration-none">Shipping</a></li>
        </ul>
      </div>
      <div class="col-md-2 mb-3">
        <h5 class="text-uppercase">Contact Us</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-white text-decoration-none">Customer Service</a></li>
          <li><%= link_to 'Get In Touch', page_path('contact-us'), class: 'text-white text-decoration-none'  %></li>
        </ul>
      </div>

    </div>
  </div>
</footer>
